########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

########################################
# IDE / Editor
########################################
.vscode/
.idea/
*.swp
*.swo

########################################
# Logs / temporários
########################################
*.log
*.tmp
*.bak

########################################
# Docker
########################################
*.tar

########################################
# Terraform
########################################
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate
infra/terraform.tfstate.*

########################################
# Kubernetes / kubeconfig locais
########################################
*.kubeconfig

########################################
# Dados do Postgres (Docker / local)
########################################
postgres_data/

########################################
# Arquivos de documentação locais
########################################
EXPLICACAO_COMPLETA.txt


